// #aboutUs {
//     .ctn-about {
//         p {
//             margin: 0;
//             text-align: center;
//             font-size: 20px; // padding: 0 12%;
//             @include breakpoint(tablet) {
//                 font-size: 16px;
//             }
//             @include breakpoint(phone) {
//                 font-size: 14px;
//             }
//             @include breakpoint(mid-phone) {
//                 font-size: 12px;
//             }
//         }
//         .item {
//             width: 20%;
//             float: left;
//             padding: 0 15px;
//             .wrp-item {
//                 position: relative;
//                 background: red;
//                 .img-item {
//                     border-radius: 50%;
//                     overflow: hidden;
//                     position: absolute;
//                     height: 0;
//                 padding-top: 204px;
//                     top: 0;
//                     left: 0;
//                 }
//                 img {
//                     width: 100%;
//                     transform: scale(1, 1);
//                 }
//             } // height: 0;
//             // padding-top: 50%;
//             // background: url(../img/about-us/h1.jpg) no-repeat;
//             // background-position: center;
//             // background-size: cover;
//             // border-radius: 50%;
//         }
//         .ctn-product {}
//     }
// }
#aboutUs {
    .img-product {
        border-radius: 50%;
        .img {
            transform: scale(1, 1);
        }
    }
    .class-three {
        .img-product {
            padding-top: 220px !important;
            @include breakpoint (small-desktop) {
                padding-top: 175.55px !important;
            }
        }
    }
    .class-two {
        .img-product {
            padding-top: 247.5px !important;
            @include breakpoint (small-desktop) {
                padding-top: 197.5px !important;
            }
        }
    }
    .item-product {
        @include breakpoint (tablet) {
            width: 20% !important;
            .img-product {
                padding-top: 100% !important;
            }
        }
        @include breakpoint (small-tablet) {
            padding: 0 1%;
        }
    }
    .ctn-product {
        .info {
            p {
                font-size: 14px;
            }
            @include breakpoint (phone) {
                h3,
                p {
                    font-size: 12px;
                }
            }
            @include breakpoint (mid-phone) {
                h3,
                p {
                    font-size: 10px !important;
                }
                span {
                    display: none;

                }
                .name1::after {
                    content: "Quang";
                }
                .name2::after {
                    content: "Sơn";
                }
                .name3::after {
                    content: "Đạt";
                }
                .name4::after {
                    content: "Thương";
                }
                .name5::after {
                    content: "Hiếu";
                }
            }

        }
    }
}